<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>login</title>
</head>
 
<body>
    <%- include('./partials/navbar') %>
        <div class="container mt-5">
            <h1 class="mb-5">login</h1>
            <form action="/user/login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <%- include('./partials/scripts') %>
</body>

</html>